{% extends "drawer/drawer.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
  <div class="main-body">
    <div class="row">
      <!-- Profile Card Section -->
      <div class="col-md-4">
        <!-- Personal Information Card -->
        <div class="profile-card">
          <div class="d-flex flex-column align-items-center text-center">
              <!-- Imagem de perfil -->
              {% if user.userprofile.profile_picture %}
                  <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}" class="rounded-circle profile-picture" width="150">
              {% else %}
                  <img src="{% static 'perfil.png' %}" alt="Default Profile" class="rounded-circle profile-picture" width="150">
              {% endif %}
      
              <!-- Formulário de upload de imagem (oculto até que o botão 'Editar' seja clicado) -->
              <form method="POST" enctype="multipart/form-data" id="profile-form" style="display:none;">
                  {% csrf_token %}
                  <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
                  <input type="file" name="profile_picture" id="profile-picture-input" accept="image/*" disabled>
              </form>
      
              <div class="mt-3">
                  <h4>{{ user.username }}</h4>
                  <p class="text-muted font-size-sm">
                      <textarea id="bio-text" class="bio-textarea" disabled>{{ user.userprofile.bio }}</textarea>
                  </p>
                  <button class="button" onclick="enableEditing()">Editar</button>
                  <button class="button2" id="save-button" disabled>Salvar</button>
              </div>
          </div>
      </div>
        
        <!-- Social Links Card -->
        <div class="profile-card">
          <ul class="list-group list-group-flush">
            <!-- LinkedIn -->
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">
                    <!-- Ícone do LinkedIn -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" class="mr-2 icon-inline">
                        <path fill="#0078d4"  d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5 V37z"></path>
                        <path d="M30,37V26.901c0-1.689-0.819-2.698-2.192-2.698c-0.815,0-1.414,0.459-1.779,1.364 c-0.017,0.064-0.041,0.325-0.031,1.114L26,37h-7V18h7v1.061C27.022,18.356,28.275,18,29.738,18c4.547,0,7.261,3.093,7.261,8.274 L37,37H30z M11,37V18h3.457C12.454,18,11,16.528,11,14.499C11,12.472,12.478,11,14.514,11c2.012,0,3.445,1.431,3.486,3.479 C18,16.523,16.521,18,14.485,18H18v19H11z" opacity=".05"></path>
                        <path d="M30.5,36.5v-9.599c0-1.973-1.031-3.198-2.692-3.198c-1.295,0-1.935,0.912-2.243,1.677 c-0.082,0.199-0.071,0.989-0.067,1.326L25.5,36.5h-6v-18h6v1.638c0.795-0.823,2.075-1.638,4.238-1.638 c4.233,0,6.761,2.906,6.761,7.774L36.5,36.5H30.5z M11.5,36.5v-18h6v18H11.5z M14.457,17.5c-1.713,0-2.957-1.262-2.957-3.001 c0-1.738,1.268-2.999,3.014-2.999c1.724,0,2.951,1.229,2.986,2.989c0,1.749-1.268,3.011-3.015,3.011H14.457z" opacity=".07"></path>
                        <path fill="#fff" d="M12,19h5v17h-5V19z M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12 c1.521,0,2.458,1.08,2.486,2.499C17,15.887,16.035,17,14.485,17z M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698 c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19h5v2.616C25.721,20.5,26.85,19,29.738,19 c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                      </svg>
                    LinkedIn
                </h6>
                <input type="text" id="linkedin-url" class="form-control" value="{{ user.userprofile.linkedin_url }}" disabled>
            </li>
    
            <!-- GitHub -->
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                    Github
                </h6>
                <!-- Campo de entrada para URL do GitHub -->
                <input type="text" id="github-url" class="form-control" value="{{ user.userprofile.github_url }}" disabled>
            </li>
    
            <!-- Instagram -->
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    Instagram
                </h6>
                <!-- Campo de entrada para URL do Instagram -->
                <input type="text" id="instagram-url" class="form-control" value="{{ user.userprofile.instagram_url }}" disabled>
            </li>
        </ul>
        </div>
      </div>

      <!-- Profile Information Section -->
      <div class="col-md-8">
        <!-- User Information -->
        <div class="profile-body">
            <!-- Full Name -->
            <div class="row mb-3">
                <div class="col-sm-3 profile-label">
                    <h6 class="mb-3">Nome Completo</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" id="full-name" class="form-control" value="{{ user.userprofile.full_name }}" disabled>
                </div>
            </div>
            <hr>
            <!-- Email -->
            <div class="row mb-3">
                <div class="col-sm-3 profile-label">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="email" id="email" class="form-control" value="{{ user.userprofile.email }}" disabled>
                </div>
            </div>
            <hr>
            <!-- Telefone -->
            <div class="row mb-3">
                <div class="col-sm-3 profile-label">
                    <h6 class="mb-0">Telefone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" id="phone" class="form-control" value="{{ user.userprofile.phone }}" disabled>
                </div>
            </div>
            <hr>
            <!-- Curso -->
            <div class="row mb-3">
                <div class="col-sm-3 profile-label">
                    <h6 class="mb-0">Curso</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" id="course" class="form-control" value="{{ user.userprofile.course }}" disabled>
                </div>
            </div>
            <hr>
        </div>

        <!-- Project Status Section -->
        <div class="profile-body">
          <h5 class="d-flex align-items-center mb-3">Habilidades</h5>
          <p>Comunicação</p>
          <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Trabalho em equipe</p>
          <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Desenvolvedor Front</p>
          <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Desenvolvedor Back</p>
          <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Full Stack</p>
          <div class="progress" style="height: 5px">
              <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/perfil.js' %}"></script>
{% endblock extra_js %}